@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Roboto" , sans-serif;
    line-height: 1.4;
}


a {
    text-decoration: none;
}

p{
    margin : 0.75rem 0;
}

.text-primary {
    color : #93cb52;
}

#navbar {
    background: #333;
    color: white;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: white;
    padding: 0.75rem;
    margin : 0 0.25rem;
}

#navbar ul li a:hover {

    background: #93cb52;
    border-radius: 5px;

}


/*  showcase */

#showcase{
    background: #333 ;
    background-image: url(../img/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* overlay */
    background-color: rgba(0,0,0,0.4)
}


.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn{
    display: inline-block;
    color: white;
    background: #93cb52;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    background: #7ab436;
}

.btn-dark{
    background: #333333;
    color: white;
}


.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.m-heading{

    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}

.text-center{
    text-align: center;
}


.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}


#what .items {
    display: flex;
    padding: 1rem;
}

#what .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#who {
    display: flex;
    height: 70vh;

}

#who div{
    flex: 1;
}

#who .who-img{
    background: url(../img/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-dark{
    background: #333;
    color: white;
}
.bg-light{
    background: white;
    color: #333;
}

.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li{
    padding: 0.5rem 0;
    border-bottom: #555 dotted 1px;
}

#clients .items{
    display: flex;
}

#clients .items img{
    display: block;
    margin : auto;
    width: 60%;
}


.bg-primary{
    background: #93cb52;
    color: white;
}

/* Form */

#contact{
    display: flex;
    
}

#contact .map , #contact .contact-form{
    flex: 1;
}

#contact .contact-form .form-group{
    margin: 0.75rem;

}

#contact .contact-form label{
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}